

<nav class="bg-white shadow-md">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16">
      <div class="flex">
        <a href="/" class="flex-shrink-0 flex items-center text-xl font-bold text-blue-500">
          My E-Commerce
        </a>
        <div class="hidden sm:ml-6 sm:flex sm:space-x-8">
          <%= link_to 'Home', root_path, class: 'text-gray-500 hover:text-blue-500 px-3 py-2 rounded-md text-sm font-medium' %>
          <%= link_to 'Products', products_path, class: 'text-gray-500 hover:text-blue-500 px-3 py-2 rounded-md text-sm font-medium' %>
        </div>
      </div>
      <div class="flex items-center">
        <div class="hidden sm:flex sm:items-center">
          <% if user_signed_in? %>

        <%= link_to 'Logout', destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' } %>

          <% else %>
            <%= link_to 'Sign Up', new_user_registration_path, class: 'text-gray-500 hover:text-blue-500 px-3 py-2 rounded-md text-sm font-medium' %>
            <%= link_to 'Login', new_user_session_path, class: 'text-gray-500 hover:text-blue-500 px-3 py-2 rounded-md text-sm font-medium' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
