<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <%= form.label :user_email, "User Name" %>
  <%= form.text_field :user_email, value: @order.user.email, readonly: true %>
</div>


  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="field">
    <%= form.label :totalAmount %>
    <%= form.text_field :totalAmount %>
  </div>



  <div class="field">
    <%= form.label :orderDate %>
    <%= form.date_field :orderDate %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
