<section class="bg-white py-8 antialiased  md:py-16">
  <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
    <div class="mx-auto max-w-3xl">
      <h2 class="text-xl font-semibold text-gray-900 sm:text-2xl">Order Summary</h2>

      <div class="mt-6 space-y-4 border-b border-t border-gray-200 py-8 sm:mt-8">
        <h4 class="text-lg font-semibold text-gray-900">Billing & Delivery Information</h4>

        <dl>
          <dt class="text-base font-medium text-gray-900">Individual</dt>
          <dd class="mt-1 text-base font-normal text-gray-500 dark:text-gray-400">
            <%= current_user.email%>
          </dd>
          <dd class="mt-5">  <%= link_to 'Edit', edit_user_registration_path, class: 'text-base text-white font-medium py-2 px-5 bg-gray-800 rounded' %></dd>
        </dl>
      </div>

      <div class="mt-6 sm:mt-8">
        <% if @shopping_cart.shopping_cart_items.any? %>

          <div class="relative overflow-x-auto border-b border-gray-200">
            <table class="w-full text-left font-medium text-gray-900 md:table-fixed">
              <tbody class="divide-y divide-gray-200 dark:divide-gray-800">
                <% @order_items.each do |item| %>
                  <tr>
                    <td class="whitespace-nowrap py-4 md:w-[384px]">
                      <div class="flex items-center gap-4">
                        <% if item.product && item.product.image.attached? %>
                          <%= image_tag item.product.image, class: "h-20 w-20 object-cover" %>
                        <% else %>
                          <%= image_tag "default_img_product.png", class: "h-20 w-20 object-cover" %>
                        <% end %>
                        <%= link_to item.product.name, product_path(item.product), class: "text-lg font-medium text-gray-900 hover:underline dark:text-white" %>
                      </div>
                    </td>
                    <td class="p-4 text-base font-normal text-gray-900">x<%= item.quantity %></td>
                    <td class="p-4 text-right text-base font-bold text-gray-900">
                      <%= number_to_currency(item.product.price * item.quantity) %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>

          <div class="mt-4 space-y-6">
            <h4 class="text-xl font-semibold text-gray-900">Order Summary</h4>

            <div class="space-y-4">
              <div class="space-y-2">
                <dl class="flex items-center justify-between gap-4 border-t border-gray-200 pt-2">
                  <dt class="text-lg font-bold text-gray-900">Total</dt>
                  <dd class="text-lg font-bold text-gray-900">
                    <%= number_to_currency(@shopping_cart.shopping_cart_items.sum { |item| item.product.price * item.quantity }) %>
                  </dd>
                </dl>
              </div>
            </div>

            <div class="gap-4 sm:flex sm:items-center">
              

              <%= form_with model: @order, url: orders_path, local: true do |f| %>
                <%= f.hidden_field :status, value: "Pending" %>
                <%= f.submit 'Place Order', class: "mt-4 flex items-center justify-center rounded-lg bg-green-700 px-5 py-2.5 text-sm font-medium text-white  " %>
              <% end %>
            </div>
          </div>
        <% else %>
          <p>Your cart is empty.</p>
           <%= link_to 'Return to shopping', products_path, class: "py-2.5 px-5 text-sm font-medium text-gray-900  bg-white rounded-lg border border-gray-200" %>
        <% end %>
      </div>
    </div>
  </div>
</section>
