<section class="bg-white py-8 antialiased dark:bg-gray-900 md:py-16">
  <div class="mx-auto max-w-2xl px-4 2xl:px-0">
    <h2 class="text-xl font-semibold text-gray-900 dark:text-white sm:text-2xl mb-2">
      Thanks for your order!
    </h2>
    <p class="text-gray-500 dark:text-gray-400 mb-6 md:mb-8">
      Your order <span class="font-bold">N°<%= @order.id %></span> will be processed within 24 hours during working days. We will notify you by email once your order has been shipped.
    </p>

  
      <div class="space-y-4 sm:space-y-2 rounded-lg border border-gray-100 bg-gray-50 p-6 dark:border-gray-700 dark:bg-gray-800 mb-6 md:mb-8">
        <dl class="sm:flex items-center justify-between gap-4">
          <dt class="font-normal mb-1 sm:mb-0 text-gray-500 dark:text-gray-400">Date</dt>
          <dd class="font-medium text-gray-900 dark:text-white sm:text-end"><%= @order.created_at %></dd>
        </dl>
        <dl class="sm:flex items-center justify-between gap-4">
          <dt class="font-normal mb-1 sm:mb-0 text-gray-500 dark:text-gray-400">Payment Method</dt>
          <dd class="font-medium text-gray-900 dark:text-white sm:text-end">JPMorgan monthly installments</dd>
        </dl>
        <dl class="sm:flex items-center justify-between gap-4">
          <dt class="font-normal mb-1 sm:mb-0 text-gray-500 dark:text-gray-400">Name</dt>
          <dd class="font-medium text-gray-900 dark:text-white sm:text-end"><%= current_user.email %></dd>
        </dl>
        <dl class="sm:flex items-center justify-between gap-4">
          <dt class="font-normal mb-1 sm:mb-0 text-gray-500 dark:text-gray-400">Address</dt>
          <dd class="font-medium text-gray-900 dark:text-white sm:text-end">34 Scott Street, San Francisco, California, USA</dd>
        </dl>
        <dl class="sm:flex items-center justify-between gap-4">
          <dt class="font-normal mb-1 sm:mb-0 text-gray-500 dark:text-gray-400">Phone</dt>
          <dd class="font-medium text-gray-900 dark:text-white sm:text-end">+(123) 456 7890</dd>
        </dl>
        <dl class="sm:flex items-center justify-between gap-4">
          <dt class="font-normal mb-1 sm:mb-0 text-gray-500 dark:text-gray-400">Total</dt>
          
          <dd class="font-medium text-gray-900 dark:text-white sm:text-end">
            <%= number_to_currency(@order.order_items.sum { |item| item.product.price * item.quantity }) %>
          </dd>
           

        </dl>
      </div>

    <div class="flex items-center space-x-4">
     
 
       <%= link_to 'Return to shopping', products_path, class: "py-2.5 px-5 text-sm font-medium text-gray-900  bg-white rounded-lg border border-gray-200" %>

    </div>
  </div>
</section>
